<div class="well">
  <h5>Order ID #<%= @order.id %></h5>
  <br>
  <% @order.carted_products.each do |product| %>
    <p>quantity: <%= product.quantity  %></p> 
    <p>car: <%= product.car.make %> <%= product.car.model %></p>
    <p>-------------</p>
  <% end %>
  <h4>Subtotal: $<%= number_with_delimiter(@order.subtotal, :delimiter => ',')%></h4>
  <h4>Tax: $<%= number_with_delimiter(@order.tax, :delimiter => ',') %></h4>
  <h4>Total: $<%= number_with_delimiter(@order.total, :delimiter => ',') %></h4>
</div>
