<div class="form-group">
  <label name="form_make">Enter the make</label>
  <input type="text" class="form-control" name="form_make" value="<%= @car.make %>" placeholder="make">
</div>

<div class="form-group">
  <label name="form_model">Enter the model</label>
  <input type="text" class="form-control" name="form_model" value="<%= @car.model %>"placeholder="model">
</div>

<div class="form-group">
  <label name="form_year">Enter the year</label>
  <input type="text" class="form-control" name="form_year" value="<%= @car.year %>" placeholder="year">
</div>

<div class="form-group">
  <label name="form_price">Enter the price</label>
  <input type="text" class="form-control" name="form_price" value="<%= @car.price %>" placeholder="price">
</div>


<div class="form-group">
  <label name="form_description">Description</label>
  <input type="text" class="form-control" name="form_description" value="<%= @car.description %>" placeholder="description">
</div>

<div class="form-group">
  <label>Choose supplier</label>
  <select name="supplier">
  <option>select</option>
    <% @suppliers.each do |sup| %>
      <option value="<%= sup.id %>"><%= sup.name %> </option>
    <% end %>
  </select>
</div>

<button type="submit" class="btn btn-default">Submit</button>
<br>
<br>