<div class="form">
  <div class="well">  
    <h2>Edit</h2>
    <br>
    <br>
    <% if @car.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h4>
     
        <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_tag "/cars/#{@car.id}", method: :patch do %>
      <%= render 'form.html.erb' %>
    <% end %>
    <%=form_tag "/cars/#{@car.id}", method: :delete do %>
      <button type="delete" class="btn btn-default">Delete</button>
    <% end %>
  </div>
</div>

