<div class="main">
  
  
  
  <% @cars.each_slice(3) do |three_cars| %>
  <div class="row">
    <%three_cars.each do |car|  %>
      <div class="col-md-4">
        <div class="well">
          <h2><%= car.make %> <%= car.model %></h2>
          <h4><%= car.year %></h4>
          <p><a href="/cars/<%= car.id %>"><img src="<%= car.images.first.url %>"></a></p>
          <h3>$<%= number_with_delimiter(car.price, :delimiter => ',') %></h3>
        </div>
      </div>
    <% end %> 
    </div>     
  <% end %>
</div> 