<div class="main">
  <div class="well"> 
    <h2><%= @car.make %> <%= @car.model %></h2>
    <h4><%= @car.year %></h4>
    <p>****</p>
    <p><%= @car.description %></p>
    <% @car.images.each do |img| %>
        <img src="<%= img.url %>">
      <% end %>
    <% if @car.sale_message  == "Discount item!"%>
    <h4 id="discount"><%= @car.sale_message %></h4>
    <% else %>
    <h4><%= @car.sale_message %></h4>
    <% end %>
    <h1>$<%= number_with_delimiter(@car.price, :delimiter => ',') %></h1>
    <h4>Tax: $<%= number_with_delimiter(@car.tax, :delimiter => ',') %></h4>
    <h4>Total: $<%= number_with_delimiter(@car.total, :delimiter => ',') %></h4>
    <br>
    <h4>Supplier:</h4>
    <p><%= @car.supplier.name %></p>
    <br>
    <h4>Categories:</h4>
    <% @car.categories.each do |category| %>
      <p> <%= category.name %></p>
    <% end %>
    
    <% if current_user && current_user.admin %>
      <%= '*' * 75 %>
      <h3>To Edit</h3>
      <br>
      <%= form_tag "/cars/#{@car.id}/edit", method: :get do %> 
        <button type="submit" class="btn btn-warning">Edit</button>
      <% end %>
      <br>
      <%=form_tag "/cars/#{@car.id}", method: :delete do %>
        <button type="delete" class="btn btn-danger">Delete</button>
      <% end %>
      <br>
      <%= form_tag "/cars/#{@car.id}/images/new", method: :get do %>
        <button type="submit" class="btn btn-info">Add Image</button>
      <% end %>
    <% end %>
    <br>
    <% if current_user %>
      <%= '*' * 75 %>
      <h2>Buy Car</h2>
      <br>
      <%= form_tag '/carts', method: :post do %>
        <div class="buy-car">
          <div class="form-group">
            <% if @car.errors.any? %>
              <div id="error_explanation">
                <h4>An error prohibited this car from being saved:</h4>
                <ul>
                  <li><%= @car.errors[0].full_messages %></li>
                </ul>
              </div>
            <% end %>
            <label>Quantity</label>
            <input type="text" class="form-control" name="quantity">
          </div>
        </div>
        <div>
          <input type="hidden" name="car_id" value="<%= params[:id] %>">
        </div>
        <button type="submit" class="btn btn-primary">Add to Cart</button>
      <% end %>
    <% end %>
  </div>
</div>
